<?xml version="1.0"?>
<ruleset name="Standards Drupal pour crypto">
  <description>Configuration par défaut PHP_CodeSniffer pour projet Drupal‑11 (module custom, thème custom).</description>

  <!-- Chargement des standards Drupal et DrupalPractice -->
  <rule ref="Drupal">
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <file>web/modules/custom/</file>
    <file>web/themes/custom/</file>
  </rule>
  <rule ref="DrupalPractice"/>

  <!-- Extensions à surveiller -->
  <arg name="extensions" value="php,module,inc,install,test,profile,theme"/>
  <arg name="cache" value=".phpcs-cache"/>
  <arg name="colors"/>
</ruleset>
